@model MvcLibrary.Models.Entity.TBLEMPLOYEE
@{
    ViewBag.Title = "AddNewEmployee";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Employee Name</label>
        @Html.TextBoxFor(e => e.Employee, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Employee, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add New Book</button>
    </div>
</form>
