@model MvcLibrary.Models.Entity.TBLCATEGORY
@{
    ViewBag.Title = "AddNewCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>CategoryName</label>
        <input type="text" class="form-control" name="CategoryName" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Add New Category</button>
    </div>
</form>

